@import '../../variables';
@import '../../functions';

.dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: rem(16px);

  &__toggle {
    position: relative;
    background: none;
    border: 0;
    border-bottom: rem(1px solid #C5C5C5);
    padding: rem(6px 0);
    z-index: 1;
    font-weight: 600;
    font-size: rem(14px);

    &-icon {
      width: rem(10px);
      height: rem(8px);
      margin-left: rem(8px);
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    left: rem(-16px);
    background: $color-base;
    box-shadow: $shadow-level-2;
    list-style: none;
    padding: rem(32px 16px 16px);
    margin: 0;
    width: calc(100% + #{ rem(32px) });
    z-index: 0;
  }

  &__action {
    display: block;
    padding: rem(4px 0);
    border-bottom: rem(1px solid #C5C5C5);
    font-size: rem(12px);
  }
}
