@import '../../variables';
@import '../../functions';

.input--select {
  .input {
    &__element {
      appearance: none;
      opacity: 0;
      padding-right: rem(24px);

      &-wrapper {
        position: relative;
      }
    }

    &__placeholder, &__value-label {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1.2em;
      overflow: hidden;
      padding-right: rem(24px);
      pointer-events: none;
    }

    &__placeholder {
      top: rem(-4px);
      color: $color-text-muted;
    }

    &__value-label {
      top: 0;
      text-overflow: ellipsis;
    }

    &__select-arrow {
      position: absolute;
      display: block;
      right: rem(4px);
      bottom: rem(10px);
      height: rem(8px);
      transition: transform .2s $ease-out;
      transform: translateY(#{ rem(-4px) });
      pointer-events: none;

      > img {
        display: block;
        max-height: 100%;
      }

      svg {
        display: block;
      }
    }
  }

  &.input--has-focus,
  &.input--has-value {
    .input__select-arrow {
      transform: translateY(0);
    }

    .input__placeholder {
      display: none;
    }
  }

  &.input--is-disabled {
    .input__element,
    .input__placeholder {
      cursor: not-allowed;
    }
  }
}
