@import '../../variables';
@import '../../functions';

.input--password {
  .input {
    &__element {
      &::-ms-reveal {
        display: none;
      }
    }

    &__toggle {
      padding: 0;
      display: block;
      width: auto;
      cursor: pointer;
      font-size: rem(14px);
      font-weight: 600;
      color: $color-primary;
      padding-bottom: rem(4px);
      vertical-align: bottom;
      transition: all .2s $ease-out;
      text-align: right;
      transition: all .2s $ease-out;

      &-input {
        display: none;
      }
    }
  }
}
