@import '../../variables';
@import '../../functions';

$modifiers: (
  success: $color-success,
  warning: $color-warning,
  error: $color-danger
);

$modifiers--focus: (
  success: $color-success--focus,
  warning: $color-warning--focus,
  error: $color-danger--focus
);

.input-checkbox-radio {
  display: block;
  margin-bottom: rem(16px);

  &__element {
    display: inline-block;
    width: rem(16px);
    position: relative;

    > input {
      position: absolute;
      opacity: 0;

      &:focus {
        + .checkbox,
        + .radio {
          &::before {
            position: absolute;
            display: block;
            width: calc(100% + #{rem(8px)});
            height: calc(100% + #{rem(8px)});
            top: rem(-4px);
            left: rem(-4px);
            content: '';
            border-radius: inherit;
            border: rem(2px) solid $color-primary-dark;
          }
        }
      }
    }
  }

  @each $modifier, $color in $modifiers {
    &--has-#{$modifier} {
      .input-checkbox-radio__element > input:focus {
        + .checkbox,
        + .radio {
          &::before {
            border-color: map-get($modifiers--focus, $modifier);
          }
        }
      }
    }
  }

  &__label {
    display: inline-block;
    line-height: 1.2;
    vertical-align: top;
    padding-left: rem(4px);
    user-select: none;
    font-size: inherit;
    max-width: calc(100% - #{ rem(16px) });
    font-size: rem(16px);
    margin-top: rem(-2px);
  }

  @each $modifier, $color in $modifiers {
    &--has-#{$modifier} {
      color: $color;

      .checkbox,
      .radio {
        border-color: $color;

        &--is-checked {
          background-color: $color;
        }
      }
    }
  }

  &--is-disabled {
    cursor: not-allowed;
    color: $color-disabled;
  }

  + .help-text {
    position: relative;
    text-align: left;
    width: auto;
    bottom: rem(14px);
    margin-left: rem(20px);
  }
}

.checkbox,
.radio {
  position: relative;
  display: block;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px solid $color-background-disabled);
  padding: rem(3px 2px);
  transition: all .1s $ease-out;
  user-select: none;
  color: $color-base;
  outline-color: $color-primary-dark;

  &--is-checked {
    color: $color-base;
    border-color: $color-primary;
    background: $color-primary;
  }

  &--is-disabled {
    color: $color-disabled;
    border-color: $color-background-disabled;
  }
}

.checkbox {
  .icon > svg {
    display: block;
  }
}

.checkbox--is-disabled.checkbox--is-checked,
.radio--is-disabled.radio--is-checked {
  background: $color-background-disabled;
}

.radio {
  border-radius: 50%;

  &--is-checked {
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: rem(8px);
      height: rem(8px);
      background: #FFF;
      top: rem(3px);
      left: rem(3px);
      border-radius: 50%;
    }
  }
}
