@import '../../variables';
@import '../../functions';

.input {
  // font-family: $font-primary;
  font-size: rem(16px);
  position: relative;
  color: $color-text;
  margin-bottom: rem(16px);

  &__label {
    position: absolute;
    top: rem(9px);
    left: 0;
    cursor: text;
    color: $color-text-muted;
    transition: color .2s linear;

    &--has-value {
      font-size: rem(12px);
    }
  }

  .input__number {
    position: relative;

    > input {
      border: 0;
    }
  }

  &.input--has-success,
  &.input--has-warning,
  &.input--has-error {
    .input__number {
      padding-right: rem(16px);
    }

    &.input--select {
      .input__validation-icon {
        right: rem(20px);
      }
    }

    .input__password-toggle {
      padding-right: rem(16px);
    }
  }

  input,
  select {
    // background: rgba(#ff0000, .2);
    display: block;
    background: none;
    border: 0;
    border-bottom: rem(1px solid #C5C5C5);
    padding: rem(14px 0 3px);
    width: 100%;
    transition: border-color .2s linear;
    line-height: 1.4;
    border-radius: 0;
    min-height: rem(40px);
    font-size: rem(16px);
  }

  &--has-focus {
    input,
    select,
    .input__password-toggle {
      border-color: $color-primary--focus;
      outline: none;
    }

    .input__date,
    .input__number {
      border-color: $color-primary--focus;
    }

    .input__label {
      color: $color-primary--focus;
      font-size: rem(12px);
    }

    &.input--has-success {
      input,
      select,
      .input__date,
      .input__number,
      .input__password-toggle {
        border-color: $color-success--focus;

        + .input__label {
          color: $color-success--focus;
        }

        + .input__help-text {
          color: $color-success--focus;
        }
      }
    }

    &.input--has-warning {
      input,
      select,
      .input__date,
      .input__number,
      .input__password-toggle {
        border-color: $color-warning--focus;

        + .input__label {
          color: $color-warning--focus;
        }

        + .input__help-text {
          color: $color-warning--focus;
        }
      }
    }

    &.input--has-error {
      input,
      select,
      .input__date,
      .input__number,
      .input__password-toggle {
        border-color: $color-danger--focus;

        + .input__label {
          color: $color-danger--focus;
        }

        + .input__help-text {
          color: $color-danger--focus;
        }
      }
    }
  }

  select {
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  &__number {
    border-bottom: rem(1px solid #C5C5C5);
    transition: border-color .2s linear;
  }

  &__date {
    border-bottom: rem(1px solid #C5C5C5);
    transition: border-color .2s linear;

    input {
      display: inline-block;
      max-width: (100% / 3);
      min-height: rem(20px);
      border: 0;
      line-height: 1;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::-webkit-input-placeholder {
         color: $color-text-muted;
         line-height: 1.4;
      }

      &:-moz-placeholder { /* Firefox 18- */
         color: $color-text-muted;
         line-height: 1.4;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: $color-text-muted;
         line-height: 1.4;
      }

      &:-ms-input-placeholder {
         color: $color-text-muted;
         line-height: 1.4;
      }
    }

    &-overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      pointer-events: none;
      color: rgba(#ff0000, .5);
    }

    &-divider {
      display: inline-block;
      padding-right: rem(4px);
    }
  }

  &__password {
    display: table;
    width: 100%;

    input {
      display: table-cell;

      &::-ms-reveal {
        display: none;
      }
    }

    &-toggle {
      display: table-cell;
      width: rem(44px);
      cursor: pointer;
      font-size: rem(14px);
      // text-transform: uppercase;
      font-weight: 600;
      color: $color-primary;
      padding: rem(11px 4px 0 0);
      border-bottom: rem(1px solid #C5C5C5);
      vertical-align: top;
      transition: all .2s linear;
      text-align: right;
      -webkit-font-smoothing: antialiased;

      > span {
        display: inline-block;
        width: auto;
        transition: all .2s linear;
      }

      // &--has-focus {
      //   border-color: $color-primary--focus;
      // }
    }
  }

  &__validation-icon,
  &__select-arrow {
    position: absolute;
    display: block;
    right: rem(4px);
    bottom: rem(8px);
    height: rem(8px);
    transition: all .2s linear;

    > img {
      display: block;
      max-height: 100%;
    }
  }

  &__help-text {
    position: absolute;
    display: block;
    right: 0;
    bottom: rem(-18px);
    font-size: rem(12px);
    color: $color-text-muted;
  }

  &--is-disabled {
    cursor: not-allowed;
    user-select: none;

    .input {
      &__label {
        color: mix(#fff, $color-text-muted, 50);
        cursor: not-allowed;
        user-select: none;
      }

      &__help-text {
        color: mix(#fff, $color-text-muted, 50);
      }

      &__validation-icon {
        opacity: .5;
      }
    }

    input,
    select,
    .input__number,
    .input__date {
      border-color: mix(#fff, #C5C5C5, 50);
      cursor: not-allowed !important;
      user-select: none;
    }
  }

  &--has-success {
    .input {
      &__label,
      &__help-text {
        color: $color-success;
      }
    }

    &.input--is-disabled {
      .input {
        &__label,
        &__help-text {
          color: mix(#fff, $color-success, 50);
        }
      }

      input,
      select,
      .input__number,
      .input__password-toggle,
      .input__date {
        border-color: mix(#fff, $color-success, 50);
      }
    }

    input,
    select,
    .input__number,
    .input__password-toggle,
    .input__date {
      border-color: $color-success;
    }
  }

  &--has-warning {
    .input {
      &__label,
      &__help-text {
        color: $color-warning;
      }
    }

    &.input--is-disabled {
      .input {
        &__label,
        &__help-text {
          color: mix(#fff, $color-warning, 50);
        }
      }

      input,
      select,
      .input__number,
      .input__password-toggle,
      .input__date {
        border-color: mix(#fff, $color-warning, 50);
      }
    }

    input,
    select,
    .input__number,
    .input__password-toggle,
    .input__date {
      border-color: $color-warning;
    }
  }

  &--has-error {
    .input {
      &__label,
      &__help-text {
        color: $color-danger;
      }
    }

    &.input--is-disabled {
      .input {
        &__label,
        &__help-text {
          color: mix(#fff, $color-danger, 50);
        }
      }

      input,
      select,
      .input__number,
      .input__password-toggle,
      .input__date {
        border-color: mix(#fff, $color-danger, 50);
      }
    }

    input,
    select,
    .input__number,
    .input__password-toggle,
    .input__date {
      border-color: $color-danger;
    }
  }
}
