@import '../../variables';
@import '../../functions';

.input--date {
  &.input--has-focus,
  &.input--has-value {
    .input__toggle-datepicker {
      transform: translateY(0);
    }
  }

  .input__toggle-datepicker {
    background: none;
    border: 0;
    appearance: none;
    vertical-align: bottom;
    padding: rem(4px 0 4px 4px);
    transform: translateY(#{ rem(-6px) });
    transition: transform .2s linear;
  }

  .date-picker {
    position: absolute;
    height: auto;
    top: 100%;
    left: 0;
    margin-top: rem(1px);
  }
}
