@import '../../variables';
@import '../../functions';

$modifiers: (
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);

.badge {
  display: inline-block;
  font-size: rem(12px);
  padding: rem(2px 8px);
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $color-background-disabled;
  border-radius: rem(10px);

  @each $modifier, $color in $modifiers {
    &--#{$modifier} {
      background-color: $color;
    }
  }
  &--warning {
    color: $color-black;
  }
}
