{
  "presets": [
    ["env", {
      "targets": {
        "node": 6.2,
        "browsers": ["last 2 versions"]
      },
    }],
    "react",
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
