{
  "extends": "eslint-config-nordnet",
  "rules": {
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true,
      "allowArrowFunctions": true
    }]
  },
  "globals": {
    "__USE_REM__": false
  }
}
