html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem; }

#app {
  color: #222;
  font-family: "Lato", sans-serif; }

.CodeMirror {
  font-family: "Hack", monospace; }

.ReactStyleguidist-common__font {
  font-family: "Lato", sans-serif; }

.ReactStyleguidist-common__monospace {
  font-family: "Hack", monospace; }

.ReactStyleguidist-colors__link {
  color: #00A9EC; }
  .ReactStyleguidist-colors__link:link, .ReactStyleguidist-colors__link:visited {
    color: #00A9EC; }
  .ReactStyleguidist-colors__link:hover {
    color: #008FC8; }

.ReactStyleguidist-colors__border {
  border-color: #DEDEDE; }

.ReactStyleguidist-colors__light {
  color: #969696; }

.ReactStyleguidist-TableOfContents__list {
  padding-left: 0;
  padding-right: 0; }

.ReactStyleguidist-TableOfContents__item {
  font-size: 1.4rem;
  margin-bottom: .8rem;
  padding-left: 1.5rem; }

.ReactStyleguidist-TableOfContents__link.ReactStyleguidist-colors__link {
  color: #222;
  font-weight: 600; }
  .ReactStyleguidist-TableOfContents__link.ReactStyleguidist-colors__link:hover {
    color: #008FC8; }

.ReactStyleguidist-TableOfContents__search {
  border: 0;
  border-bottom: 0.1rem solid #C8C8C8;
  border-radius: 0;
  padding-left: 0; }
  .ReactStyleguidist-TableOfContents__search:focus {
    border-color: #008FC8; }

.ReactStyleguidist-Playground__preview {
  position: relative;
  z-index: 10; }
.alert {
  background: #FFF;
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  position: relative;
  line-height: 1.4;
  margin-bottom: 1.6rem; }
  .alert__header {
    display: inline-block;
    font-weight: bold;
    padding: 0.4rem;
    color: #365299; }
  .alert__body {
    display: inline-block;
    padding: 0.4rem; }
  .alert__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;
    cursor: pointer; }
  .alert--success .alert__header {
    color: #00BD76; }
  .alert--warning .alert__header {
    color: #FFBD55; }
  .alert--danger .alert__header {
    color: #EF472F; }
.badge {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #C8C8C8;
  border-radius: 1rem; }
  .badge--success {
    background-color: #00BD76; }
  .badge--warning {
    background-color: #FFBD55; }
  .badge--danger {
    background-color: #EF472F; }
  .badge--warning {
    color: #222; }
.btn-primary, .btn-secondary, .btn-link {
  display: inline-block;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center; }
  .btn-primary:disabled, .btn-secondary:disabled, .btn-link:disabled {
    cursor: not-allowed; }
  .btn-primary:hover, .btn-secondary:hover, .btn-link:hover {
    cursor: pointer; }

.btn--block {
  display: block;
  width: 100%; }

.btn--xs {
  font-size: 1.2rem;
  padding: 0.4rem; }

.btn--sm {
  font-size: 1.4rem;
  padding: 0.7rem; }

.btn--md {
  font-size: 1.6rem;
  padding: 1rem; }

.btn--lg {
  font-size: 1.8rem;
  padding: 1.3rem; }

.btn-primary {
  background: #00A9EC;
  border: 0.2rem solid #00A9EC;
  color: #fff; }
  .btn-primary--warning {
    color: #222; }
  .btn-primary:hover {
    background: #008FC8;
    border-color: #008FC8; }
  .btn-primary:disabled {
    background: #C8C8C8;
    border: 0.2rem solid #C8C8C8;
    color: #969696; }
    .btn-primary:disabled:hover {
      background: #C8C8C8;
      border-color: #C8C8C8; }
  .btn-primary--success {
    outline-color: #00BD76;
    background: #00BD76;
    border-color: #00BD76; }
    .btn-primary--success:hover {
      background: #00975E;
      border-color: #00975E; }
  .btn-primary--warning {
    outline-color: #FFBD55;
    background: #FFBD55;
    border-color: #FFBD55; }
    .btn-primary--warning:hover {
      background: #E5AA4C;
      border-color: #E5AA4C; }
  .btn-primary--danger {
    outline-color: #EF472F;
    background: #EF472F;
    border-color: #EF472F; }
    .btn-primary--danger:hover {
      background: #D73F2A;
      border-color: #D73F2A; }

.btn-secondary {
  background: none;
  color: #00A9EC;
  border: 0.2rem solid #00A9EC; }
  .btn-secondary:hover {
    color: #008FC8;
    border-color: #008FC8; }
  .btn-secondary:disabled {
    border: 0.2rem solid #C8C8C8;
    color: #C8C8C8; }
    .btn-secondary:disabled:hover {
      color: #C8C8C8;
      border-color: #C8C8C8; }
  .btn-secondary--success {
    outline-color: #00BD76;
    color: #00BD76;
    border-color: #00BD76; }
    .btn-secondary--success:hover {
      color: #00975E;
      border-color: #00975E; }
  .btn-secondary--warning {
    outline-color: #FFBD55;
    color: #FFBD55;
    border-color: #FFBD55; }
    .btn-secondary--warning:hover {
      color: #E5AA4C;
      border-color: #E5AA4C; }
  .btn-secondary--danger {
    outline-color: #EF472F;
    color: #EF472F;
    border-color: #EF472F; }
    .btn-secondary--danger:hover {
      color: #D73F2A;
      border-color: #D73F2A; }

.btn-link {
  background: none;
  padding-left: 0;
  padding-right: 0;
  color: #00A9EC;
  border: 0.2rem solid transparent;
  font-weight: 600;
  cursor: pointer; }
  .btn-link:hover {
    color: #008FC8; }
  .btn-link:disabled {
    color: #C8C8C8; }
    .btn-link:disabled:hover {
      color: #C8C8C8; }
  .btn-link--success {
    outline-color: #00BD76;
    color: #00BD76; }
    .btn-link--success:hover {
      color: #00975E; }
  .btn-link--warning {
    outline-color: #FFBD55;
    color: #FFBD55; }
    .btn-link--warning:hover {
      color: #E5AA4C; }
  .btn-link--danger {
    outline-color: #EF472F;
    color: #EF472F; }
    .btn-link--danger:hover {
      color: #D73F2A; }
.dropdown {
  display: inline-block;
  position: relative;
  margin-bottom: 1.6rem; }
  .dropdown__toggle {
    position: relative;
    background: none;
    border: 0;
    border-bottom: 0.1rem solid #C5C5C5;
    padding: 0.6rem 0;
    z-index: 4;
    font-weight: 600;
    font-size: 1.4rem; }
    .dropdown__toggle-icon {
      width: 1rem;
      height: 0.8rem;
      margin-left: 0.8rem; }
  .dropdown__actions {
    position: absolute;
    top: 0;
    left: -1.6rem;
    background: #FFF;
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 3.2rem 1.6rem 1.6rem;
    margin: 0;
    width: calc(100% + 3.2rem);
    z-index: 3; }
  .dropdown__action {
    display: block;
    padding: 0.4rem 0;
    border-bottom: 0.1rem solid #C5C5C5;
    font-size: 1.2rem; }
@charset "UTF-8";
.graph-tooltip {
  font-size: 1.2rem;
  min-width: 12.8rem;
  padding-bottom: 0.6rem; }
  .graph-tooltip__date {
    display: block;
    font-weight: 600;
    color: #646464;
    padding: 0.4rem 0;
    margin: 0 0.8rem;
    border-bottom: 0.1rem solid #DEDEDE; }
    .graph-tooltip__date-time {
      display: block;
      float: right; }
  .graph-tooltip__indicator {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin-right: 0.4rem;
    border-radius: 50%; }
  .graph-tooltip__header {
    color: #646464;
    border-bottom: 0.1rem solid #DEDEDE; }
    .graph-tooltip__header-item {
      border-left: 0.1rem solid #DEDEDE;
      padding: 0 0.4rem;
      text-align: right; }
      .graph-tooltip__header-item:first-child {
        border: 0; }
  .graph-tooltip__items {
    border-collapse: collapse;
    width: calc(100% - 1.6rem);
    margin: 0 0.8rem; }
  .graph-tooltip__cell {
    padding: 0.4rem;
    line-height: 1; }
    .graph-tooltip__cell:first-child  {
      padding-left: 0; }
    .graph-tooltip__cell:last-child  {
      padding-right: 0; }
    .graph-tooltip__cell--name {
      font-weight: bold; }
    .graph-tooltip__cell--value {
      font-family: "Value Nordnet Mono", menlo, monospace;
      text-align: right; }
      .graph-tooltip__items--ohlc .graph-tooltip__cell--value {
        border-left: 0.1rem solid #DEDEDE; }
    .graph-tooltip__item:last-child .graph-tooltip__cell {
      padding-bottom: 0; }
.horizontal-nav {
  position: relative; }
  .horizontal-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 4.8rem; }
  .horizontal-nav__item {
    display: inline-block;
    padding: 1.6rem;
    margin-right: .4rem;
    line-height: 1;
    cursor: pointer; }
    .horizontal-nav__item--active {
      color: #00A9EC; }
    .horizontal-nav__item--has-link {
      padding: 0; }
      .horizontal-nav__item--has-link a {
        display: block;
        padding: 1.6rem;
        color: inherit;
        text-decoration: none; }
  .horizontal-nav__fade {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.8rem;
    height: 100%;
    max-width: 25%; }
.help-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: right;
  bottom: -1.6rem;
  font-size: 1.2rem;
  color: #646464; }
  .help-text--has-success {
    color: #00BD76; }
  .help-text--has-warning {
    color: #FFBD55; }
  .help-text--has-error {
    color: #EF472F; }
.input {
  font-size: 1.6rem;
  color: #222;
  margin-bottom: 1.6rem;
  position: relative; }
  .input--has-success .input__label {
    color: #00BD76; }
  .input--has-success .input__field {
    border-color: #00BD76; }
  .input--has-success.input--is-disabled .input__label {
    color: #3cad83; }
  .input--has-success.input--is-disabled .input__field {
    border-color: #3cad83; }
  .input--has-warning .input__label {
    color: #FFBD55; }
  .input--has-warning .input__field {
    border-color: #FFBD55; }
  .input--has-warning.input--is-disabled .input__label {
    color: #d5ad6f; }
  .input--has-warning.input--is-disabled .input__field {
    border-color: #d5ad6f; }
  .input--has-error .input__label {
    color: #EF472F; }
  .input--has-error .input__field {
    border-color: #EF472F; }
  .input--has-error.input--is-disabled .input__label {
    color: #cb6758; }
  .input--has-error.input--is-disabled .input__field {
    border-color: #cb6758; }
  .input--has-focus .input__label {
    color: #008FC8; }
  .input--has-focus .input__field {
    border-color: #008FC8; }
  .input--has-focus.input--has-success .input__label {
    color: #00975E; }
  .input--has-focus.input--has-success .input__field {
    border-color: #00975E; }
  .input--has-focus.input--has-warning .input__label {
    color: #E5AA4C; }
  .input--has-focus.input--has-warning .input__field {
    border-color: #E5AA4C; }
  .input--has-focus.input--has-error .input__label {
    color: #D73F2A; }
  .input--has-focus.input--has-error .input__field {
    border-color: #D73F2A; }
  .input--has-success .input__field {
    padding-right: 1.6rem; }
  .input--has-warning .input__field, .input--has-error .input__field {
    padding-right: 0.8rem; }
  .input--is-disabled {
    color: #969696; }
    .input--is-disabled .input__label {
      color: #969696; }
    .input--is-disabled .input__field {
      border-color: #969696; }
      .input--is-disabled .input__field > input {
        cursor: not-allowed; }
  .input--has-addon .input__field {
    display: table; }
  .input--has-addon .input__element, .input--has-addon .input__addon {
    display: table-cell; }
  .input--has-addon .input__element {
    width: 100%; }
  .input__field {
    position: relative;
    width: 100%;
    border-bottom: 0.1rem solid #C8C8C8;
    padding-top: 1.2rem;
    -webkit-transition: border-color 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: border-color 0.2s cubic-bezier(0, 0, 0.58, 1); }
  .input__label {
    position: absolute;
    top: -0.4rem;
    left: 0;
    cursor: text;
    -webkit-transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1), color 0.2s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1), color 0.2s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1), transform 0.2s cubic-bezier(0, 0, 0.58, 1), color 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1), transform 0.2s cubic-bezier(0, 0, 0.58, 1), color 0.2s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    font-size: 1.2rem;
    -webkit-transform: translateY(1.1rem);
            transform: translateY(1.1rem);
    opacity: 0;
    color: #969696;
    pointer-events: none; }
    .input--has-focus .input__label,
    .input--has-value .input__label {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .input__element {
    display: block;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0 0 0.5rem;
    width: 100%;
    -webkit-transition: border-color 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: border-color 0.2s cubic-bezier(0, 0, 0.58, 1);
    font-size: 1.6rem;
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
    max-height: 2.7rem;
    font-family: inherit;
    font-weight: inherit; }
    .input__element::-webkit-input-placeholder {
      color: #646464; }
    .input__element:-moz-placeholder {
      color: #646464; }
    .input__element::-moz-placeholder {
      color: #646464; }
    .input__element:-ms-input-placeholder {
      color: #646464; }
    .input--has-focus .input__element,
    .input--has-value .input__element {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .input__element:focus {
      outline: none; }
  .input__validation-icon {
    position: absolute;
    display: block;
    right: 0.4rem;
    bottom: 1rem;
    height: 0.8rem;
    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1); }
    .input__validation-icon > img {
      display: block;
      max-height: 100%; }
.input--select .input__element {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  padding-right: 2.4rem; }
  .input--select .input__element-wrapper {
    position: relative; }

.input--select .input__placeholder, .input--select .input__value-label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.2em;
  overflow: hidden;
  padding-right: 2.4rem;
  pointer-events: none; }

.input--select .input__placeholder {
  top: -0.4rem;
  color: #646464; }

.input--select .input__value-label {
  top: 0;
  text-overflow: ellipsis; }

.input--select .input__select-arrow {
  position: absolute;
  display: block;
  right: 0.4rem;
  bottom: 1rem;
  height: 0.8rem;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  pointer-events: none; }
  .input--select .input__select-arrow > img {
    display: block;
    max-height: 100%; }
  .input--select .input__select-arrow svg {
    display: block; }

.input--select.input--has-focus .input__select-arrow, .input--select.input--has-value .input__select-arrow {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.input--select.input--has-focus .input__placeholder, .input--select.input--has-value .input__placeholder {
  display: none; }

.input--select.input--is-disabled .input__element,
.input--select.input--is-disabled .input__placeholder {
  cursor: not-allowed; }
.input-checkbox-radio {
  display: block;
  margin-bottom: 1.6rem; }
  .input-checkbox-radio__element {
    display: inline-block;
    width: 1.6rem;
    position: relative; }
    .input-checkbox-radio__element > input {
      position: absolute;
      opacity: 0; }
      .input-checkbox-radio__element > input:focus + .checkbox::before,
      .input-checkbox-radio__element > input:focus + .radio::before {
        position: absolute;
        display: block;
        width: calc(100% + 0.8rem);
        height: calc(100% + 0.8rem);
        top: -0.4rem;
        left: -0.4rem;
        content: '';
        border-radius: inherit;
        border: 0.2rem solid #008FC8; }
  .input-checkbox-radio--has-success .input-checkbox-radio__element > input:focus + .checkbox::before,
  .input-checkbox-radio--has-success .input-checkbox-radio__element > input:focus + .radio::before {
    border-color: #00975E; }
  .input-checkbox-radio--has-warning .input-checkbox-radio__element > input:focus + .checkbox::before,
  .input-checkbox-radio--has-warning .input-checkbox-radio__element > input:focus + .radio::before {
    border-color: #E5AA4C; }
  .input-checkbox-radio--has-error .input-checkbox-radio__element > input:focus + .checkbox::before,
  .input-checkbox-radio--has-error .input-checkbox-radio__element > input:focus + .radio::before {
    border-color: #D73F2A; }
  .input-checkbox-radio__label {
    display: inline-block;
    line-height: 1.2;
    vertical-align: top;
    padding-left: 0.4rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: inherit;
    max-width: calc(100% - 1.6rem);
    font-size: 1.6rem;
    margin-top: -0.2rem; }
  .input-checkbox-radio--has-success {
    color: #00BD76; }
    .input-checkbox-radio--has-success .checkbox,
    .input-checkbox-radio--has-success .radio {
      border-color: #00BD76; }
      .input-checkbox-radio--has-success .checkbox--is-checked,
      .input-checkbox-radio--has-success .radio--is-checked {
        background-color: #00BD76; }
  .input-checkbox-radio--has-warning {
    color: #FFBD55; }
    .input-checkbox-radio--has-warning .checkbox,
    .input-checkbox-radio--has-warning .radio {
      border-color: #FFBD55; }
      .input-checkbox-radio--has-warning .checkbox--is-checked,
      .input-checkbox-radio--has-warning .radio--is-checked {
        background-color: #FFBD55; }
  .input-checkbox-radio--has-error {
    color: #EF472F; }
    .input-checkbox-radio--has-error .checkbox,
    .input-checkbox-radio--has-error .radio {
      border-color: #EF472F; }
      .input-checkbox-radio--has-error .checkbox--is-checked,
      .input-checkbox-radio--has-error .radio--is-checked {
        background-color: #EF472F; }
  .input-checkbox-radio--is-disabled {
    cursor: not-allowed;
    color: #969696; }
  .input-checkbox-radio + .help-text {
    position: relative;
    text-align: left;
    width: auto;
    bottom: 1.4rem;
    margin-left: 2rem; }

.checkbox,
.radio {
  position: relative;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.1rem solid #C8C8C8;
  padding: 0.3rem 0.2rem;
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFF;
  outline-color: #008FC8; }
  .checkbox--is-checked,
  .radio--is-checked {
    color: #FFF;
    border-color: #00A9EC;
    background: #00A9EC; }
  .checkbox--is-disabled,
  .radio--is-disabled {
    color: #969696;
    border-color: #C8C8C8; }

.checkbox .icon > svg {
  display: block; }

.checkbox--is-disabled.checkbox--is-checked,
.radio--is-disabled.radio--is-checked {
  background: #C8C8C8; }

.radio {
  border-radius: 50%; }
  .radio--is-checked::after {
    content: '';
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background: #FFF;
    top: 0.3rem;
    left: 0.3rem;
    border-radius: 50%; }
.labeled-value {
  display: inline-block; }
  .labeled-value__label {
    display: block;
    font-size: 1.2rem;
    color: #646464; }
  .labeled-value__value {
    display: block;
    font-size: 1.6rem;
    line-height: 1.2; }
    .labeled-value--xs .labeled-value__value {
      font-size: 1.2rem;
      padding-top: 0rem; }
    .labeled-value--sm .labeled-value__value {
      font-size: 1.4rem;
      padding-top: 0.2rem; }
    .labeled-value--md .labeled-value__value {
      font-size: 1.6rem;
      padding-top: 0.4rem; }
    .labeled-value--lg .labeled-value__value {
      font-size: 1.8rem;
      padding-top: 0.4rem; }
.legend {
  width: 100%;
  font-size: 1.4rem;
  color: #646464; }
  .legend__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -0.8rem; }
  .legend__item {
    display: inline-block;
    padding-bottom: 0.8rem; }
    .legend__item-indicator {
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      margin: 0 0.4rem 0.1rem 0; }
    .legend__item-value {
      font-size: 1.2rem;
      margin-left: 0.8rem; }
.logo {
  display: inline-block;
  height: 2.4rem; }
  .logo > svg {
    display: block;
    height: 100%; }
.nav-bar {
  display: block;
  border-bottom: 0.1rem solid #DEDEDE; }
  .nav-bar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 120rem;
    margin: 0 auto; }
  .nav-bar__logo {
    margin-right: 0;
    width: 2.4rem;
    height: 2.4rem; }
    .nav-bar__logo svg #nordnet {
      display: none; }
    @media only screen and (min-width: 48em) {
      .nav-bar__logo {
        margin-right: 1.6rem;
        width: auto; }
        .nav-bar__logo svg #nordnet {
          display: block; } }
  .nav-bar__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 12.8rem; }
  .nav-bar__other {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .nav-bar__sub-items {
    display: block;
    width: 100%;
    border-top: 0.1rem solid #DEDEDE; }
.pane {
  background: #FFF;
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6rem; }
  .pane__tabs {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
  .pane__tab {
    display: inline-block;
    background: #F3F4F5;
    border-right: .1rem solid #C5C5C5;
    line-height: 1.2;
    padding: 0.8rem;
    text-align: center;
    cursor: pointer; }
    .pane__tab--is-active {
      background: #FFF;
      color: #00A9EC;
      font-weight: 600; }
    .pane__tab:last-child {
      border: 0; }
.range-selector {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-top: 0.8rem; }
  .range-selector--dark {
    background: #365299; }
    .range-selector--dark .range-selector__btn {
      color: #FFF; }
      .range-selector--dark .range-selector__btn--selected {
        color: #00A9EC; }
  .range-selector--muted {
    background: #DEDEDE; }
  .range-selector__btn {
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer; }
    .range-selector__btn--selected {
      color: #00A9EC; }
.ratio-bar {
  display: block;
  margin: 0px -0.1rem;
  font-size: 0;
  margin-bottom: 1.6rem; }
  .ratio-bar__label {
    display: block;
    font-size: 1.4rem;
    color: #646464;
    padding: 0 0.1rem 0.4rem 0.1rem; }
  .ratio-bar__bar {
    display: inline-block;
    height: 1.6rem;
    text-align: center; }
    .ratio-bar__bar-background {
      display: inline-block;
      width: 100%;
      width: calc(100% - 0.2rem);
      height: 100%; }
    .ratio-bar__bar--positive .ratio-bar__bar-background {
      background-color: #00BD76;
      color: #00BD76; }
    .ratio-bar__bar--neutral .ratio-bar__bar-background {
      background: #DEDEDE;
      color: #DEDEDE; }
    .ratio-bar__bar--negative .ratio-bar__bar-background {
      background: #EF472F;
      color: #EF472F; }
  .ratio-bar__direction-label {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.4rem 0.1rem 0 0.1rem;
    width: 50%; }
    .ratio-bar__direction-label--negative {
      color: #EF472F;
      text-align: left; }
    .ratio-bar__direction-label--positive {
      color: #00BD76;
      text-align: right; }
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.spinner {
  display: inline-block;
  -webkit-animation: spinner 1s linear infinite;
          animation: spinner 1s linear infinite; }
  .spinner__element {
    display: block;
    width: 100%;
    height: 100%; }
.search {
  display: inline-block;
  position: relative;
  text-align: left; }
  .search__input {
    padding: 0.6rem 0.4rem 0.6rem 2rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    border-bottom: 0.1rem solid #C8C8C8;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
    font-size: inherit;
    line-height: 1.2; }
    .search__input:focus {
      outline: 0;
      border-color: #00A9EC; }
      .search__input:focus + .search__icon > svg g#search {
        stroke: #00A9EC;
        -webkit-transform: scale(1);
                transform: scale(1); }
      .search__input:focus ~ .search__results {
        border-color: #00A9EC; }
  .search__icon {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 0.7rem;
    left: 0; }
    .search__icon > svg {
      width: 100%;
      height: 100%; }
      .search__icon > svg g#search {
        stroke: #969696;
        -webkit-transition: stroke 0.15s linear, -webkit-transform 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: stroke 0.15s linear, -webkit-transform 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: stroke 0.15s linear, transform 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: stroke 0.15s linear, transform 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -webkit-transform: scale(0.85);
                transform: scale(0.85);
        -webkit-transform-origin: 0.8rem 0.8rem;
                transform-origin: 0.8rem 0.8rem; }
  .search__results {
    display: block;
    position: absolute;
    overflow: hidden;
    max-width: 40rem;
    min-width: 25rem;
    min-height: 3.2rem;
    top: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
    z-index: 2;
    background: #FFF;
    border-top: 0.1rem solid #C8C8C8;
    margin-top: -0.1rem;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
    will-change: opacity; }
    .search__results--left {
      left: 0; }
    .search__results--right {
      right: 0; }
  .search__result {
    display: block;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid #C8C8C8;
    background-color: #FFF;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear; }
    .search__result > a,
    .search__result > span {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 0.4rem 0.8rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .search__result:hover {
      background-color: #F4F4F4; }
    .search__result:last-child {
      border: 0; }
    .search__result--is-loading {
      text-align: center;
      padding: 0.8rem;
      font-size: 0; }
    .search__result--no-results {
      text-align: center;
      padding: 0.8rem;
      line-height: 1.2;
      color: #969696; }
    .search__result-info {
      display: inline-block;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .search__result-development {
      display: inline-block;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      padding-left: .8rem;
      font-size: 1.2rem; }
      .search__result-development--positive {
        color: #00BD76; }
      .search__result-development--negative {
        color: #EF472F; }
    .search__result-name {
      font-weight: 600;
      margin-bottom: 0.4rem;
      white-space: nowrap; }
    .search__result-market {
      font-size: 1.2rem;
      color: #222; }
      .search__result-market .flag {
        margin-right: .5rem; }
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

.Select {
  position: relative; }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    box-sizing: border-box; }
  .Select.is-disabled > .Select-control {
    background-color: #f9f9f9; }
    .Select.is-disabled > .Select-control:hover {
      box-shadow: none; }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none; }

.Select-control {
  background-color: #FFF;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 0;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 2.8rem;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }
  .Select-control .Select-input:focus {
    outline: none; }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #FFF;
  border-color: #b3b3b3 #ccc #d9d9d9; }
  .is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #00A9EC;
    border-width: 0 5px 5px; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #008FC8 #00a1e2 #00a1e2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(#008FC8, 50%); }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #08c;
    outline: none;
    text-decoration: underline; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }
  .Select-input > input {
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none; }
    .is-focused .Select-input > input {
      cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px; }
  .Select-clear-zone:hover {
    color: #D0021B; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select-arrow {
  border-color: #00A9EC transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative; }

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #008FC8; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #FFF;
  color: #222;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }
  .Select-option:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .Select-option.is-selected {
    background-color: #f5faff;
    color: #333; }
  .Select-option.is-focused {
    background-color: #F4F4F4;
    color: #222; }
  .Select-option.is-disabled {
    color: #cccccc;
    cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 0.4rem; }

.Select--multi .Select-value {
  background-color: #DEDEDE;
  border-radius: 0;
  border: 1px solid #DEDEDE;
  color: #222;
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #222;
  cursor: pointer;
  text-decoration: none; }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-right: 1px solid #DEDEDE;
  padding: 1px 5px 3px; }
  .Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
    background-color: #ddeff7;
    color: #0077b3; }
  .Select--multi .Select-value-icon:active {
    background-color: #DEDEDE; }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }
  .Select--multi.is-disabled .Select-value-icon:hover, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc; }

@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

.select__label {
  display: block;
  font-size: 1.2rem;
  color: #646464;
  margin-bottom: -.1rem;
  line-height: 1; }

.Select-control {
  border-top: 0;
  border-right: 0;
  border-left: 0; }

.Select-multi-value-wrapper {
  margin-left: -0.4rem;
  padding-bottom: .2rem; }

.Select-placeholder {
  padding-left: 0;
  line-height: 2.8rem; }

.Select-input {
  height: 2.8rem; }

.Select--multi .Select-input {
  margin-left: 4px; }

.Select--multi .Select-value-icon {
  border: 0;
  float: right;
  padding: 0 .2rem;
  margin: .5rem;
  margin-left: .3rem;
  border-radius: 0;
  background: #00A9EC;
  color: #FFF;
  line-height: .9;
  font-weight: bold; }
  .Select--multi .Select-value-icon:hover {
    background: #008FC8;
    color: #FFF; }

.Select-menu-outer {
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
  border-top: 0.1rem solid #00A9EC; }

.Select-option {
  border-bottom: 0.1rem solid #DEDEDE; }
  .Select-option:last-child {
    border: 0; }
.spark-graph__path {
  fill: none; }
.table {
  display: block;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-weight: normal;
  position: relative;
  border-color: #DEDEDE; }
  .table--xs {
    font-size: 1.2rem; }
  .table--sm {
    font-size: 1.4rem; }
  .table--md {
    font-size: 1.6rem; }
  .table--lg {
    font-size: 1.8rem; }
.tbody {
  display: block; }
  .tbody--xs {
    font-size: 1.2rem; }
  .tbody--sm {
    font-size: 1.4rem; }
  .tbody--md {
    font-size: 1.6rem; }
  .tbody--lg {
    font-size: 1.8rem; }
  .tbody--border {
    border: 0.1rem solid #DEDEDE; }
  .tbody--border-top {
    border-top: 0.1rem solid #DEDEDE; }
  .tbody--border-right {
    border-right: 0.1rem solid #DEDEDE; }
  .tbody--border-bottom {
    border-bottom: 0.1rem solid #DEDEDE; }
  .tbody--border-left {
    border-left: 0.1rem solid #DEDEDE; }
  .tbody--alternate-rows tr:nth-child(odd) {
    background: #F4F4F4; }
  .tbody--scroll {
    width: 100%;
    overflow-y: scroll; }
.td {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  font-weight: inherit; }
  .td--has-width {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .td--xs {
    font-size: 1.2rem; }
  .td--sm {
    font-size: 1.4rem; }
  .td--md {
    font-size: 1.6rem; }
  .td--lg {
    font-size: 1.8rem; }
  .td--mono {
    font-family: "Value Nordnet Mono", menlo, monospace; }
  .td--success {
    color: #00BD76; }
    .tr--secondary .td--success {
      background: rgba(204, 241, 227, 0.9); }
  .td--warning {
    color: #FFBD55; }
    .tr--secondary .td--warning {
      background: rgba(255, 241, 221, 0.9); }
  .td--danger {
    color: #EF472F; }
    .tr--secondary .td--danger {
      background: rgba(251, 218, 213, 0.9); }
  .td--highlight-success {
    background: rgba(0, 189, 118, 0.2); }
    .thead .td--highlight-success {
      background: #CCF1E3;
      color: #00BD76; }
  .td--highlight-warning {
    background: rgba(255, 189, 85, 0.2); }
    .thead .td--highlight-warning {
      background: #FFF1DD;
      color: inherit; }
  .td--highlight-danger {
    background: rgba(239, 71, 47, 0.2); }
    .thead .td--highlight-danger {
      background: #FBDAD5;
      color: #EF472F; }
  .td--border {
    border: 0.1rem solid #DEDEDE; }
  .td--border-top {
    border-top: 0.1rem solid #DEDEDE; }
  .td--border-right {
    border-right: 0.1rem solid #DEDEDE; }
  .td--border-bottom {
    border-bottom: 0.1rem solid #DEDEDE; }
  .td--border-left {
    border-left: 0.1rem solid #DEDEDE; }
  .td--align-left {
    text-align: left; }
  .td--align-right {
    text-align: right; }
  .td--align-center {
    text-align: center; }
  .td--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.tfoot {
  display: block; }
  .tfoot--xs {
    font-size: 1.2rem; }
  .tfoot--sm {
    font-size: 1.4rem; }
  .tfoot--md {
    font-size: 1.6rem; }
  .tfoot--lg {
    font-size: 1.8rem; }
.th {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  font-weight: inherit; }
  .th--has-width {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .th--xs {
    font-size: 1.2rem; }
  .th--sm {
    font-size: 1.4rem; }
  .th--md {
    font-size: 1.6rem; }
  .th--lg {
    font-size: 1.8rem; }
  .th--mono {
    font-family: "Value Nordnet Mono", menlo, monospace; }
  .th--success {
    color: #00BD76; }
    .tr--secondary .th--success {
      background: rgba(204, 241, 227, 0.9); }
  .th--warning {
    color: #FFBD55; }
    .tr--secondary .th--warning {
      background: rgba(255, 241, 221, 0.9); }
  .th--danger {
    color: #EF472F; }
    .tr--secondary .th--danger {
      background: rgba(251, 218, 213, 0.9); }
  .th--highlight-success {
    background: rgba(0, 189, 118, 0.2); }
    .thead .th--highlight-success {
      background: #CCF1E3;
      color: #00BD76; }
  .th--highlight-warning {
    background: rgba(255, 189, 85, 0.2); }
    .thead .th--highlight-warning {
      background: #FFF1DD;
      color: inherit; }
  .th--highlight-danger {
    background: rgba(239, 71, 47, 0.2); }
    .thead .th--highlight-danger {
      background: #FBDAD5;
      color: #EF472F; }
  .th--border {
    border: 0.1rem solid #DEDEDE; }
  .th--border-top {
    border-top: 0.1rem solid #DEDEDE; }
  .th--border-right {
    border-right: 0.1rem solid #DEDEDE; }
  .th--border-bottom {
    border-bottom: 0.1rem solid #DEDEDE; }
  .th--border-left {
    border-left: 0.1rem solid #DEDEDE; }
  .th--align-left {
    text-align: left; }
  .th--align-right {
    text-align: right; }
  .th--align-center {
    text-align: center; }
  .th--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.thead {
  display: block;
  font-weight: bold;
  border-color: #C8C8C8; }
  .thead--xs {
    font-size: 1.2rem; }
  .thead--sm {
    font-size: 1.4rem; }
  .thead--md {
    font-size: 1.6rem; }
  .thead--lg {
    font-size: 1.8rem; }

.thead--primary {
  background: #C8C8C8;
  border-color: #969696; }

.thead--secondary {
  background: #646464;
  border-color: #222;
  color: #FFF; }
.tooltip {
  color: #00A9EC;
  margin-left: .2em;
  position: relative;
  display: inline; }
  .tooltip-container {
    cursor: pointer;
    display: inline-block; }
    .tooltip-container .icon {
      vertical-align: text-bottom; }
  .tooltip-popup {
    position: absolute;
    text-align: left;
    font-size: .8em;
    padding: 0.8rem;
    color: #FFF;
    background: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    z-index: 2;
    -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: opacity 0.3s cubic-bezier(0, 0, 0.58, 1); }
    .tooltip-popup:before {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: block;
      content: '';
      width: 0;
      height: 0;
      z-index: 2; }
    .tooltip-popup--below {
      left: 50%;
      margin-top: 0.8rem;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .tooltip-popup--below:before {
        top: -0.8rem;
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-bottom: 0.8rem solid rgba(0, 0, 0, 0.75); }
    .tooltip-popup--left {
      right: 1.2rem;
      top: 1.2rem;
      margin-right: 100%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
      .tooltip-popup--left:before {
        left: inherit;
        right: -1.2rem;
        margin-top: -0.8rem;
        top: 50%;
        border-top: 0.8rem solid transparent;
        border-bottom: 0.8rem solid transparent;
        border-left: 0.8rem solid rgba(0, 0, 0, 0.75); }
    .tooltip-popup--right {
      top: 0.8rem;
      left: 1.2rem;
      margin-left: 100%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
      .tooltip-popup--right:before {
        left: -0.4rem;
        margin-top: -0.8rem;
        top: 50%;
        border-top: 0.8rem solid transparent;
        border-bottom: 0.8rem solid transparent;
        border-right: 0.8rem solid rgba(0, 0, 0, 0.75); }
    .tooltip-popup--above {
      left: 50%;
      margin-bottom: 0.8rem;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .tooltip-popup--above:before {
        bottom: -0.8rem;
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 0.8rem solid rgba(0, 0, 0, 0.75); }
.tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent; }
  .tr--xs {
    font-size: 1.2rem; }
  .tr--sm {
    font-size: 1.4rem; }
  .tr--md {
    font-size: 1.6rem; }
  .tr--lg {
    font-size: 1.8rem; }
  .tr--clone {
    display: none; }
  .tr--sticky {
    position: fixed;
    background: #FFF; }
    .tr--sticky + .tr--clone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .tr--border {
    border: 0.1rem solid;
    border-color: #DEDEDE; }

.tr--primary {
  background: #DEDEDE !important;
  border-color: #C8C8C8; }

.tr--secondary {
  background: #969696 !important;
  border-color: #646464;
  color: #FFF; }
.widget {
  display: block;
  background: #FFF;
  box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6rem; }
  .widget__heading {
    display: inline-block;
    margin: 0;
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    vertical-align: top; }
  .widget__divider {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid #DEDEDE; }
  .widget__body {
    padding: 0 1.6rem 1.6rem; }
    .widget__body--no-header {
      padding-top: 1.6rem; }
    .widget__body--full-width {
      padding: 0; }
