@import '../../variables';
@import '../../mixins';

@mixin btn--modifier ($variant, $modifier, $color, $color-focus) {
  &--#{ $modifier } {
    @if $variant == 'primary' {
      background: $color;
      border-color: $color;

      &:hover {
        background: $color-focus;
        border-color: $color-focus;
      }
    }

    @if $variant == 'secondary' {
      color: $color;
      border-color: $color;

      &:hover {
        color: $color-focus;
        border-color: $color-focus;
      }
    }

    @if $variant == 'link' {
      &--#{ $modifier } {
        color: $color;

        &:hover {
          color: $color-focus;
        }
      }
    }
  }
}

.btn {
  &-primary,
  &-secondary,
  &-link {
    display: inline-block;
    border: 0;
    @include rem('font-size', 14px);
    // font-family: $font-primary;
    font-weight: 700;
    line-height: 1.2;
    @include rem('padding', 6px);
    transition: all .1s linear;
    text-decoration: none;
    user-select: none;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &-primary {
    background: $color-primary;
    @include rem('border', 2px solid $color-primary);
    color: #fff;

    &:hover {
      background: $color-primary--focus;
      border-color: $color-primary--focus;
    }

    &:disabled {
      background: $color-background-disabled;
      @include rem('border', 2px solid $color-background-disabled);
      color: $color-disabled;

      &:hover {
        background: $color-background-disabled;
        border-color: $color-background-disabled;
      }
    }

    @include btn--modifier('primary', 'success', $color-success, $color-success--focus);
    @include btn--modifier('primary', 'warning', $color-warning, $color-warning--focus);
    @include btn--modifier('primary', 'danger', $color-danger, $color-danger--focus);
  }

  &-secondary {
    background: none;
    color: $color-primary;
    @include rem('border', 2px solid $color-primary);

    &:hover {
      color: $color-primary--focus;
      border-color: $color-primary--focus;
    }

    &:disabled {
      @include rem('border', 2px solid $color-background-disabled);
      color: $color-background-disabled;

      &:hover {
        color: $color-background-disabled;
        border-color: $color-background-disabled;
      }
    }

    @include btn--modifier('secondary', 'success', $color-success, $color-success--focus);
    @include btn--modifier('secondary', 'warning', $color-warning, $color-warning--focus);
    @include btn--modifier('secondary', 'danger', $color-danger, $color-danger--focus);
  }

  &-link {
    background: none;
    padding-left: 0;
    padding-right: 0;
    color: $color-text;
    @include rem('border', 2px solid transparent);
    font-weight: 600;

    &:hover {
      color: #000;
    }

    &:disabled {
      color: $color-background-disabled;

      &:hover {
        color: $color-background-disabled;
      }
    }

    @include btn--modifier('link', 'success', $color-success, $color-success--focus);
    @include btn--modifier('link', 'warning', $color-warning, $color-warning--focus);
    @include btn--modifier('link', 'danger', $color-danger, $color-danger--focus);
  }
}
