@import '../../variables';
@import '../../functions';

.range-selector {
  position: relative;
  text-align: center;
  z-index: 1;
  padding-top: rem(8px);

  &--dark {
    background: $color-info;

    .range-selector__btn {
      color: $color-base;

      &--selected {
        color: $color-primary;
      }
    }
  }

  &--muted {
    background: $color-gray-light;
  }

  &__btn {
    display: inline-block;
    appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    font-size: rem(12px);
    padding: rem(8px 16px);
    cursor: pointer;
    outline: none;

    &--selected {
      color: $color-primary;
    }
  }
}
