@import '../../variables';

.ratio-bar {
  display: block;
  margin: rem(0px -1px);
  font-size: 0;
  margin-bottom: rem(16px);

  &__label {
    display: block;
    font-size: 1.4rem;
    color: $color-text-muted;
    padding: rem(0 1px 4px 1px);
  }

  &__bar {
    display: inline-block;
    height: rem(16px);
    text-align: center;

    &-background {
      display: inline-block;
      width: 100%;
      width: calc(100% - #{rem(2px)});
      height: 100%;
    }

    &--positive {
      .ratio-bar__bar-background {
        background-color: $color-success;
        color: $color-success;
      }
    }

    &--neutral {
      .ratio-bar__bar-background {
        background: $color-border;
        color: $color-border;
      }
    }

    &--negative {
      .ratio-bar__bar-background {
        background: $color-danger;
        color: $color-danger;
      }
    }
  }

  &__direction-label {
    display: inline-block;
    font-size: rem(14px);
    padding: rem(4px 1px 0 1px);
    width: 50%;

    &--negative {
      color: $color-danger;
      text-align: left;
    }

    &--positive {
      color: $color-success;
      text-align: right;
    }
  }
}
