@import '../../_variables';

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  animation: spinner 1s linear infinite;

  &__element {
    display: block;
    width: 100%;
    height: 100%;
  }
}
