@import '../../functions';
@import '../../variables';
@import '../table/utilities';

.thead {
  @include sizes();

  &__child--clone {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    background: $color-base;
    border-bottom: rem(1px) solid $color-gray;
    transition: visibility 0s linear .15s, opacity .15s linear;

    .thead--sticky & {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s linear;
    }
  }
}
