@import '../../functions';
@import '../../variables';
@import '../table/utilities';

.thead {
  display: block;
  font-weight: bold;
  @include sizes();

  &--primary {
    @extend %primary;
  }

  &--secondary {
    @extend %secondary;
  }

  border-color: $color-gray;

  // &__child--clone {
  //   position: fixed;
  //   visibility: hidden;
  //   opacity: 0;
  //   background: $color-base;
  //   border-bottom: rem(1px) solid;
  //   transition: visibility 0s linear .15s, opacity .15s linear;
  //
  //   .thead--primary & {
  //     @extend %primary;
  //     border-bottom: 0;
  //   }
  //
  //   .thead--secondary & {
  //     @extend %secondary;
  //     border-bottom: 0;
  //   }
  //
  //   .thead--sticky & {
  //     visibility: visible;
  //     opacity: 1;
  //     transition: opacity .15s linear;
  //   }
  // }
}

%primary {
  background: $color-gray;
  border-color: $color-gray-dark;
}

%secondary {
  background: $color-gray-darker;
  border-color: $color-black;
  color: $color-base;
}
