@import '../../variables';
@import '../../functions';

.widget {
  display: block;
  background: $color-base;
  box-shadow: $shadow-level-1;
  margin-bottom: rem(16px);
  margin-left: rem(12px);

  &__heading {
    display: block;
    margin: rem(4px 0);
    font-size: rem(14px);
    font-weight: 700;
    line-height: 1;
  }

  &__divider {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: #{rem(1px)} solid $color-background-muted;
  }

  &__body {
    padding: rem(16px);

    &--full-width {
      padding: 0;
    }
  }
}
