@import '../../variables';
@import '../../functions';

.widget {
  display: block;
  background: $color-base;
  box-shadow: $shadow-level-1;
  margin-bottom: rem(16px);

  &__heading {
    display: inline-block;
    margin: 0;
    padding: rem(12px 16px);
    font-size: rem(14px);
    font-weight: 700;
    line-height: 1.2;
    vertical-align: top;
  }

  &__divider {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: #{rem(1px)} solid $color-background-muted;
  }

  &__body {
    padding: rem(0 16px 16px);

    &--no-header {
      padding-top: rem(16px);
    }

    &--full-width {
      padding: 0;
    }
  }
}
