@import '../../variables';
@import '../../functions';
@import '~react-select/dist/react-select.css';

.Select {
  &-control {
    border: 0;
    border-radius: 0;
    border-bottom: rem(1px solid #C5C5C5);

    .is-focused &,
    .is-focused:not(.is-open) &,
    .is-open & {
      border-color: $color-primary--focus;
    }
  }

  &-placeholder,
  &--single > &-control &-value {
    padding: 0;
  }

  &-menu-outer {
    border-radius: 0;
    background-color: #fff;
    border: 0;
    box-shadow: $shadow-level-2;
    margin-top: 0;
    padding: rem(0 10px);
  }

  &-option {
    color: $color-text-muted;
    cursor: pointer;
    display: block;
    padding: rem(8px 0);
    border-bottom: rem(1px) solid $color-background-disabled;

    &:last-child {
      border-radius: 0;
      border: 0;
    }

    &:hover {
      background: none;
      color: $color-primary--focus;
    }
  }

  &-option.is-selected {
    background: none;
    color: $color-text;
  }
}
