@import '../../functions';
@import '../../variables';
@import '../table/utilities';

.tr {
  @include flex-row();
  @include sizes();
  border-left: rem(1px) solid transparent;
  border-right: rem(1px) solid transparent;

  &--primary {
    @extend %primary;
  }

  &--secondary {
    @extend %secondary;
  }

  &--clone {
    display: none;
  }

  &--sticky {
    position: fixed;
    background: $color-base;

    + .tr--clone {
      display: flex;
    }
  }

  &--border {
    border: rem(1px) solid;
    border-color: $color-gray-light;
  }
}

%primary {
  background: $color-gray-light !important;
  border-color: $color-gray;
}

%secondary {
  background: $color-gray-dark !important;
  border-color: $color-gray-darker;
  color: $color-base;
}
