html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

$grid-gutter: 3.2rem;
$grid-containers: (
  xs: false,
  sm: 73.6rem,
  md: 97.6rem,
  lg: 113.6rem,
);

@import '~react-bem-grid/src/Grid';
