@import '../../variables';
@import '../../functions';

.alert {
  background: #FFF;
  box-shadow: $shadow-level-3;
  font-size: rem(12px);
  padding: rem(40px 8px);
  position: relative;
  line-height: 1.4;
  margin-bottom: rem(16px);

  &__header {
    display: inline-block;
    font-weight: bold;
    padding: rem(4px);
  }

  &__body {
    display: inline-block;
    padding: rem(4px);
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(12px);
    cursor: pointer;
  }

  &--success {
    .alert__header {
      color: $color-success;
    }
  }

  &--warning {
    .alert__header {
      color: $color-warning;
    }
  }

  &--danger {
    .alert__header {
      color: $color-danger;
    }
  }
}
