@import '../../variables';

.pane {
  background: #FFF;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6rem;

  &__tabs {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__tab {
    display: inline-block;
    background: #F3F4F5;
    border-right: .1rem solid #C5C5C5;
    line-height: 1.2;
    padding: .8rem;
    text-align: center;
    cursor: pointer;

    &--is-active {
      background: #FFF;
      color: $color-primary;
      font-weight: 600;
    }

    &:last-child {
      border: 0;
    }
  }
}
