@import '../../variables';
@import '../../functions';

$modifiers: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
);

.value {
  display: inline-block;

  &__label{
    display: block;
    font-size: rem(12px);
    color: $color-text-muted;
  }

  &__value{
    display: block;
    padding-top: rem(4px);
    font-size: rem(16px);
    line-height: 1.2;

    @each $modifier, $font-size in $modifiers {
      .value--#{ $modifier } & {
        font-size: $font-size;
      }
    }
  }
}
