@import '../../variables';

.checkbox {
  display: inline-block;
  height: 1.6rem;
  margin-bottom: 1.6rem;

  label {
    display: block;
  }

  &--is-disabled {
    color: $color-background-disabled;
    cursor: not-allowed;
  }

  &__label {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    padding: .1rem 0 .1rem .4rem;
  }

  &__input {
    display: inline-block;

    input[type="checkbox"] {
      display: none;

      + span {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid $color-background-disabled;
        padding: .3rem .2rem;
        transition: all .1s linear;
        user-select: none;
      }

      &:checked + span {
        border-color: $color-primary;
        background: $color-primary;
      }

      &:disabled {
        + span {
          border-color: $color-background-disabled;
        }

        &:checked + span {
          border-color: $color-background-disabled;
          background: $color-background-disabled;
        }
      }
    }
  }
}
