@import '../../variables';
@import '../../functions';

.checkbox {
  display: inline-block;
  height: rem(16px);
  margin-bottom: rem(16px);

  label {
    display: block;
  }

  &--is-disabled {
    color: $color-background-disabled;
    cursor: not-allowed;
  }

  &__label {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    padding: rem(1px 0 1px 4px);
  }

  &__input {
    display: inline-block;

    input[type="checkbox"] {
      display: none;

      + span {
        display: block;
        width: rem(16px);
        height: rem(16px);
        border: rem(1px solid $color-background-disabled);
        padding: rem(3px 2px);
        transition: all .1s linear;
        user-select: none;
      }

      &:checked + span {
        border-color: $color-primary;
        background: $color-primary;
      }

      &:disabled {
        + span {
          border-color: $color-background-disabled;
        }

        &:checked + span {
          border-color: $color-background-disabled;
          background: $color-background-disabled;
        }
      }
    }
  }
}
