@import '../../../../../src/variables';

.nav {
  display: block;
  width: 100%;
  background: $color-base;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);

  &__logo {
    height: 4.8rem;
    padding: .8rem 0;
  }

  &__items {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    text-align: right;
  }

  &__item {
    display: inline-block;

    > a {
      display: block;
      padding: 1.3rem 1.6rem;
      color: inherit;
      text-decoration: none;
    }

    &:last-child {
      > a {
        padding-right: 0;
      }
    }
  }
}
