@import '../../../src/variables';

%border {
  border-color: $color-border;
  border-style: solid;
}

.ReactStyleguidist-Layout__ {
  &sidebar {
    @extend %border;
    background: $color-base;

    &--hidden {
      display: none;
    }
  }

  &heading {
    // text-align: center;
    @extend %border;
    background: $color-background-muted;

    .logo {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
