@import '../../../src/variables';

%border {
  border-color: $color-border;
  border-style: solid;
}

.ReactStyleguidist-Layout__ {
  &sidebar {
    @extend %border;
    background: $color-base;
    overflow-x: hidden;

    &--hidden {
      display: none;
    }
  }

  &heading {
    // text-align: center;
    @extend %border;
    background: $color-background-muted;
  }

  &logo {
    display: block;
    width: 100%;

    > svg {
      width: 100%;
      max-height: 2.4rem;
    }
  }
}
