@import '../../variables';
@import '../../functions';

$breakpoints: (
  sm: '48em',
  md: '64em',
  lg: '75em',
) !default;

$wrapper-max-width: 120rem;

.nav-bar {
  display: block;
  border-bottom: .1rem solid $color-gray-light;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    max-width: $wrapper-max-width;
    margin: 0 auto;
  }

  &__logo {
    margin-right: 0;
    width: 2.4rem;
    height: 2.4rem;

    svg #nordnet {
      display: none;
    }

    @media only screen and (min-width: #{map-get($breakpoints, sm)}) {
      margin-right: 1.6rem;
      width: auto;

      svg #nordnet {
        display: block;
      }
    }
  }

  &__nav {
    flex: 1 1 auto;
    min-width: 12.8rem;
  }

  &__other {
    flex-shrink: 0;
  }

  &__sub-items {
    display: block;
    width: 100%;
    border-top: .1rem solid $color-gray-light;
  }
}
