@import '../../variables';
@import '../../functions';

$sizes: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
);

$modifiers: (
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);

$modifiers-dark: (
  success: $color-success-dark,
  warning: $color-warning-dark,
  danger: $color-danger-dark,
);

$modifiers-light: (
  success: $color-success-light,
  warning: $color-warning-light,
  danger: $color-danger-light,
);

$borders: 'top', 'right', 'bottom', 'left';

@mixin sizes() {
  @each $size, $font-size in $sizes {
    &--#{$size} {
      font-size: rem($font-size);
    }
  }
}

@mixin mono() {
  &--mono {
    font-family: "Value Nordnet Mono", menlo, monospace;
  }
}

@mixin modifiers() {
  @each $modifier, $color in $modifiers {
    &--#{$modifier} {
      color: $color;

      .tr--secondary & {
        background: rgba(map-get($modifiers-light, $modifier), .9);
      }
    }
  }
}

@mixin highlights() {
  @each $modifier, $color in $modifiers {
    &--highlight-#{$modifier} {
      background: rgba($color, .2);

      .thead & {
        background: map-get($modifiers-light, $modifier);
        @if $modifier == 'warning' {
          color: inherit;
        } @else {
          color: $color;
        }
      }
    }
  }
}

@mixin borders() {
  &--border {
    border: rem(1px) solid $color-gray-light;;
  }

  @each $position in $borders {
    &--border-#{$position} {
      border-#{$position}: rem(1px) solid $color-gray-light;;
      // padding-#{$position}: rem(4px);
    }
  }
}

@mixin align() {
  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--align-center {
    text-align: center;
  }
}

@mixin flex-row() {
  display: flex;
  flex-flow: row nowrap;
  // align-items: center;
}

@mixin flex-item() {
  display: inline-block;
  padding: rem(3px 6px);
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  &--has-width {
    flex-basis: auto;
    flex-grow: 0;
  }
}

@mixin ellipsis() {
  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
