@import '../../functions';
@import '../../variables';

$sizes: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
);

.table {
  display: inline-block;
  text-align: left;

  &--full-width {
    width: 100%;

    table {
      width: 100%;
    }
  }

  table {
    border-collapse: collapse;
  }

  @each $size, $font-size in $sizes {
    &--#{$size} {
      font-size: rem($font-size);
    }
  }

  &--alternate-rows {
    tbody tr:nth-child(odd) {
      background: $color-gray-lighter;
    }
  }

  .reactable {
    &-column-header {
      font-weight: 600;
    }
  }
}
