@import '../../functions';
@import '../../variables';
@import './utilities';

.table {
  text-align: left;
  border-collapse: collapse;
  font-weight: normal;

  .th--number {
    text-align: right;
  }

  .td--number {
    font-family: monospace;
    text-align: right;
  }

  @include sizes();

  &--full-width {
    width: 100%;
  }

  &--hide-header {
    > thead {
      display: none;
    }
  }
}
