@import '../../variables';
@import '../../functions';

.legend {
  width: 100%;
  font-size: 1.4rem;
  color: $color-gray-darker;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: rem(-8px);
  }

  &__item {
    display: inline-block;
    padding-bottom: rem(8px);

    &-indicator {
      display: inline-block;
      width: rem(8px);
      height: rem(8px);
      border-radius: 50%;
      margin: 0 rem(4px) rem(1px) 0;
    }

    &-value {
      font-size: rem(12px);
      margin-left: rem(8px);
    }
  }
}
