@import '../../variables';
@import '../../functions';

$z-index-tooltip: 2;

.tooltip {
  color: $color-primary;
  margin-left: .2em;
  position: relative;
  display: inline;

  &-container {
    cursor: pointer;
    display: inline;
  }

  &-popup {
    position: absolute;
    text-align: justify;
    left: 50%;
    width: rem(300px);
    padding: rem(8px);
    color: $color-base;
    pointer-events: none;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.75);
    z-index: $z-index-tooltip;
    transition: opacity .3s $ease-out;

    &__content {
      font-size: .8em;
    }

    &:before {
      position: absolute;
      top: rem(-8px);
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 rem(8px) rem(8px) rem(8px);
      border-color: transparent transparent rgba(0, 0, 0, 0.75);
      z-index: $z-index-tooltip;
    }
  }
}
