@import '../../variables';
@import '../../functions';

$z-index-tooltip: 2;

.tooltip {
  color: $color-primary;
  margin-left: .2em;
  position: relative;
  display: inline;

  &-container {
    cursor: pointer;
    display: inline;

    .icon {
      vertical-align: text-bottom;
    }
  }

  &-popup {
    position: absolute;
    text-align: justify;
    min-width: rem(50px);
    white-space: nowrap;
    padding: rem(8px);
    color: $color-base;
    background: rgba(0, 0, 0, 0.75);
    z-index: $z-index-tooltip;
    transition: opacity .3s $ease-out;

    &--above {
      left: 50%;
      bottom: rem(12px);
      margin-bottom: 100%;
      transform: translateX(-50%);
    }

    &--left {
      right: rem(12px);
      top: rem(12px);
      margin-right: 100%;
      transform: translate(0, -50%);
    }

    &--right {
      top: rem(8px);
      left: rem(12px);
      margin-left: 100%;
      transform: translate(0, -50%);
    }

    &--below {
      left: 50%;
      top: rem(12px);
      margin-top: 100%;
      transform: translateX(-50%);
    }

    &__content {
      font-size: .8em;
    }

    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      width: 0;
      height: 0;
      z-index: $z-index-tooltip;
    }

    &--above {
      &:before {
        bottom: rem(-8px);
        border-left: rem(8px) solid transparent;
        border-right: rem(8px) solid transparent;
        border-top: rem(8px) solid rgba(0, 0, 0, 0.75);
      }
    }

    &--left {
      &:before {
        left: inherit;
        right: rem(-12px);
        border-top: rem(8px) solid transparent;
        border-bottom: rem(8px) solid transparent;
        border-left: rem(8px) solid rgba(0, 0, 0, 0.75);
      }
    }

    &--right {
      &:before {
        left: rem(-4px);
        border-top: rem(8px) solid transparent;
        border-bottom: rem(8px) solid transparent;
        border-right: rem(8px) solid rgba(0, 0, 0, 0.75);
      }
    }

    &--below {
      &:before {
        top: rem(-8px);
        border-left: rem(8px) solid transparent;
        border-right: rem(8px) solid transparent;
        border-bottom: rem(8px) solid rgba(0, 0, 0, 0.75);
      }
    }
  }
}
