// //////////////////////////////////////////////////////////////////////// //
// REM mixin stolen from https://github.com/bitmanic/rem                    //
// Rewritten to function and modified to only use px if rem is not feasible //
// //////////////////////////////////////////////////////////////////////// //

$use-rem: true !default; // Set this to false to use px instead
$baseline-px: 10px !default; // 10px by default based on HTML node font size being 62.5%

@function rem($px-values){
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  // Only use rem if enabled, true by default
  @if $use-rem {
    // If there is only one (numeric) value, return the property/value line for it.
    @if type-of($px-values) == "number" {
      @return $px-values / $baseline-rem;
    }

    @else {
      // Create an empty list that we can dump values into
      $rem-values: ();

      @each $value in $px-values {
        // If the value is zero or not a number, return it
        @if $value == 0 or type-of( $value ) != "number" {
          $rem-values: append($rem-values, $value);
        }

        @else {
          $rem-values: append($rem-values, $value / $baseline-rem);
        }
      }

      // Return the property and its list of converted values
      @return $rem-values;
    }
  }

  @else {
    @return $px-values;
  }
}
