@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  // Firefox 18-
  &:-moz-placeholder {
    @content;
  }

  // Firefox 19+
  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
