@import './functions';

// /////////////// //
// Nordnet colours //
// /////////////// //

$color-primary: #00A9EC;
$color-success: #00BD76;
$color-warning: #FFBD55;
$color-danger: #EF472F;

$color-primary--focus: mix($color-primary, #000, 90);
$color-success--focus: mix($color-success, #000, 90);
$color-warning--focus: mix($color-warning, #000, 90);
$color-danger--focus: mix($color-danger, #000, 90);

// //////////// //
// UI variables //
// //////////// //

$color-base: #FFF;
$color-border: #DDD;

$color-background: #F1F1F1;
$color-background-dark: #444;
$color-background-muted: #EEE;
$color-background-disabled: #C5C5C5;
$color-disabled: #969696;

$shadow-level-1: rem(0 2px 4px 2px rgba(0, 0, 0, .1));
$shadow-level-2: $shadow-level-1;
$shadow-level-3: $shadow-level-1;

// ////////////////////// //
// External brand colours //
// ////////////////////// //

$color-shareville: #048D45;

// ////////////// //
// Text variables //
// ////////////// //

$color-text: #222;
$color-text-muted: #8A8A8A;
$font-primary: "Value Nordnet", "Century Gothic", "AppleGothic", sans-serif;
