.section {
  border-bottom: 1px solid #aaa;
  padding: 1.6rem 0;

  &:last-child {
    border: 0;
  }

  &__title {
    position: relative;
    display: block;
    margin: 0;

    &:hover {
      .section__link {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__link {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.2rem;
    padding: .8rem;
    transition: all .1s linear;

    svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  pre {
    font-family: 'Hack', Monaco, Consolas, 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    border-radius: .2rem;
    border: 0;
    margin: 1.6rem 0;
    // box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);

    code {
      font-family: inherit;
      font-size: inherit;
    }
  }
}
