@import 'reset';
@import '../src/variables';

$font-primary: 'Lato', sans-serif;
$font-monospace: 'Hack', monospace;

#app {
  color: $color-text;
  font-family: $font-primary;
}

.CodeMirror {
  font-family: $font-monospace;
}

.ReactStyleguidist {
  &-common {
    &__font {
      font-family: $font-primary;
    }

    &__monospace {
      font-family: $font-monospace;
    }
  }

  &-colors {
    &__link {
      color: $color-primary;

      &:link,
      &:visited {
        color: $color-primary;
      }

      &:hover {
        color: $color-primary--focus;
      }
    }

    &__border {
      border-color: $color-border;
    }

    &__light {
      color: $color-disabled;
    }
  }

  &-TableOfContents {
    &__list {
      padding-left: 0;
    }

    &__item {
      font-size: 1.4rem;
      margin-bottom: .8rem;
      padding-left: 1.5rem;
      // border-left: .2rem solid $color-primary;
    }

    &__link.ReactStyleguidist-colors__link {
      color: $color-text;
      font-weight: 600;

      &:hover {
        color: $color-primary--focus;
      }
    }

    &__search {
      border: 0;
      border-bottom: .1rem solid $color-background-disabled;
      border-radius: 0;
      padding-left: 0;

      &:focus {
        border-color: $color-primary--focus;
      }
    }
  }

  &-Playground {
    &__preview {
      position: relative;
      z-index: 10;
    }
  }
}
